<div class = "topDiv2">
    <h1>
        <% if @location %>
        Location: <%= @location.name %>
        <% elsif @category %>
        Category: <%= @category.name %>
        <% else %>
        All Courses
        <%end %>
    </h1>
</div>
  
<div id="coursetable">
    <p> <%= link_to"Courses", course_course_detail_path%> | <%= link_to"Coordinators", course_coordinator_detail_path%>
</p> 

<hr>
    <%= render 'shared/course_table',object:@courses%>
</div>
  
</div>
