<% provide(:title, @user.name) %>
<h1 align="center">

 Coordinator: <%= @user.name %>
  
</h1>

  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
          
        var upVotes = 0;
        var downVotes = 0;
        
        <% for course in @user.courses do %> 
          upVotes = upVotes + <%= pluralize(course.votes.select {|a| a.kind == 1}.count,"") %> ;
          downVotes = downVotes + <%= pluralize(course.votes.select {|a| a.kind == -1}.count,"") %> ;
        <% end %>
        
        

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Rating');
        data.addColumn('number', 'Numbers');
        data.addRows([
          ['Up Votes', upVotes],
          ['Down Votes', downVotes],
        ]);

        // Set chart options
        var options = {'title':'Overall rating',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div" style="margin-left:38%;"></div>
 </body>



<% @courses.each do |course| %>
<div class="courserow">
<div class="coordinatordescription">
   <div class ="coordinatordescriptiontext">
   <%= gravatar_for course.user %>
   <%= course.user.name %>
   </div>
</div>

<div class="coursedescription">
<div class="descriptiontext">
    <b>Course name:</b><%= course.name %><br>
    <b>Prerequisite:</b><%= course.prerequisite %><br>
    <b>Created at:</b><%= time_ago_in_words(course.created_at) %> Ago<br><br>
    
    <div class = "iconRow">
    <div class = "iconColumn">
    <%= link_to '<span class="glyphicon glyphicon-thumbs-up"/>'.html_safe, vote_course_path(course), method: :post %>
    </div>
    <div class = "iconColumn">
    <%= pluralize(course.votes.select {|a| a.kind == 1}.count,"") %>
    </div>
    <div class = "iconColumn">
    <%= link_to '<span class="glyphicon glyphicon-thumbs-down"/>'.html_safe, down_vote_course_path(course), method: :post %>
    </div>
    <div class = "iconColumn">
    <%= pluralize(course.votes.select {|a| a.kind == -1}.count,"") %>
    </div>
    
    </div>
    <% if course.user == current_user %>
    <%= link_to ' edit course',edit_course_path(course)%>
    <% end %>
    
    
    
</div>
</div>
</div>
<% end %>

