<h1><%= @course.name %>'s locations </h1> 

<% if @locations.length> 0 %> 
  <%= form_tag( location_remove_course_path(@course)) do %> 
  <table> 
   <thead> 
    <tr> 
     <th> Location </th> 
     <th> Remove? </th> 
    </tr> 
   </thead>
   
   <tbody> 
     <% for location in @locations do %> 
     <tr> 
      <td> <%= location.building %>.<%= location.floor %>.<%= location.room%> </td> 
      <td> <%= check_box_tag"locations[]", location.id%> </td> 
     </tr>
     <% end %> 
    </tbody> 
  </table > <br/> 
  
   <%= submit_tag'Remove checked locations' %>        
  <% end %>
 <% else %> 
  <p> Not locations added yet. </p> 
 <% end %> 
 
 
 <h2> Add new locations </h2>
 <% if @course.locations.count< Location.count then %> 
  <%= form_tag( location_add_course_path(@course)) do %> 
    <%= select_tag(:location, 
                    options_from_collection_for_select(@course.unassigned_locations,:id,:name)) %> 
    <%= submit_tag'Add' %> 
 <% end %> 
<% else %> 
 <p> <%= @course.name%> has added all locations. </p> 
<% end %> 
 <p> <%= link_to'Back', @course %> </p>
     