<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <style>
    #map{
      margin-top:5%;
      margin-bottom:5%;
      height:400px;
      width:100%;
    }
  </style>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  
  <div class="field">
    <%= form.label :building %>
    <%= form.number_field :building, id: :location_building %>
  </div>

  <div class="field">
    <%= form.label :floor %>
    <%= form.number_field :floor, id: :location_floor %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.number_field :room, id: :location_room %>
  </div>
  
  <div class="field">
    <%= form.label :lat %>
    <%= form.number_field :lat,:readonly => true, id: :location_lat %>
  </div>
  
  <div class="field">
    <%= form.label :lng %>
    <%= form.number_field :lng,:readonly => true, id: :location_lng %>
  </div>
  
  <div id="map"></div>

  
  <script>
    var map; 
    var marker = false; 
            
    function initMap() {
     
        var centerOfMap = new google.maps.LatLng(-37.8068717725,144.970312785);
     
        //Map options.
        var options = {
          center: centerOfMap, //Set center.
          zoom: 20 //The zoom value.
        };
     
        map = new google.maps.Map(document.getElementById('map'), options);
        var layer = new google.maps.KmlLayer({
            url: "http://www.google.com/maps/d/kml?mid=1BWFmOvTmM1A1Lze0RUBk8JTiMQU",
            map: map
          })
        //Listen for any clicks on the map.
        google.maps.event.addListener(map, 'click', function(event) {                
            //Get the location that the user clicked.
            var clickedLocation = event.latLng;
            //If the marker hasn't been added.
            if(marker === false){
                //Create the marker.
                marker = new google.maps.Marker({
                    position: clickedLocation,
                    map: map,
                    draggable: true //make it draggable
                });
                //Listen for drag events!
                google.maps.event.addListener(marker, 'dragend', function(event){
                    markerLocation();
                });
            } else{
                //Marker has already been added, so just change its location.
                marker.setPosition(clickedLocation);
            }
            //Get the marker's location.
            markerLocation();
        });
        
        <% @locations.each do |location| %>
               addMarker(<%= location.lat %>, <%= location.lng %>);
               var message='';
               <% location.courses.each do |course| %>
                   message = message + "<%= course.name %>" + "<br>";
               <% end %>
               addInfoWindow(markerHolder, <%= location.building %>,message);
            <% end %>
        }
                
        function addMarker(lat, lng) {
              markerHolder = new google.maps.Marker({
              position: new google.maps.LatLng(lat, lng),
              map: map
            });
          }
          
        function addInfoWindow(marker, building,message) {
              var buildingStr = "building:"+building.toString()+"<br>";
              var infoWindow = new google.maps.InfoWindow({
                  content: buildingStr+message
              });
  
              google.maps.event.addListener(marker, 'click', function () {
                  infoWindow.open(map, marker);
              });
          }

            
    //This function will get the marker's current location and then add the lat/long
    //values to our textfields so that we can save the location.
    function markerLocation(){
        //Get location.
        var currentLocation = marker.getPosition();
        //Add lat and lng values to a field that we can save.
        document.getElementById('location_lat').value = currentLocation.lat(); //latitude
        document.getElementById('location_lng').value = currentLocation.lng(); //longitude
    }
            
            
    //Load the map when the page has finished loading.
    google.maps.event.addDomListener(window, 'load', initMap);
      
      
    </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKKiKtpHhEkCbu7iKvO8nujJRMa-ipvTU&callback=initMap" async defer></script>
  <script src="/dist/location-picker.min.js"></script>
  
  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
